/target
/classes
/.settings
/.metadata
.settings
.swp
.classpath
.project
.springBeans
*.iml
.idea
logs
*.tmp
*.log
*.bak
.DS_Store
.svn
.ipr
.iws
*.ipr
*.iws
*/target
*.cde
project.properties
/catalina.home_IS_UNDEFINED